meta(property="og:title", content="magcho's portfolio")
meta(property="og:type", content="profile:username:magcho")
meta(property="og:url", content="magcho.com")
meta(property="og:image", content="https://magcho.com/ogp.png")
meta(property="og:site_name", content="magcho's portfolio")
meta(property="og:description", content="magchoのポートフォリオ")
meta(name="twitter:description", conttent="magchoのポートフォリオ")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@magcho0527")
meta(name="twitter:creator", content="@magcho0527")
