doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="../main.css")
		title magcho's portfolio
		include ../../_helmet
		script
			| let vh = window.innerHeight * 0.01;document.documentElement.style.setProperty('--vh', `${vh}px`);

	body
		.activity_page
			.container
				include:markdown-it XXXXX

		include ../../_footer
		+footer('../')
