doctype html
html
	head
		meta(charset="utf-8")
		title threejs
		link(rel="stylesheet" href="./css/main.css")

	body
	div#background_container
	div#contents_contaier
		div#controls
			button#idle idle
			button#pa PA
			button#program program
			button#electro electro
	script(src="./main.js")
