doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		title threejs
		link(rel="stylesheet", href="./css/main.css")
		script
			| let vh = window.innerHeight * 0.01;
			| document.documentElement.style.setProperty('--vh', `${vh}px`);

	body
		//- div#controls
			//- button#active active
			//- button#hover hover
		//- 	button#idle idle
		//- 	button#pa PA
		//- 	button#program program
		//- 	button#electro electro
		//- 	button#penguin_in1 pen_in1
		//- 	button#penguin_out1 pen_out1
		//- 	button#penguin_in2 pen_in2
		//- 	button#penguin_out2 pen_out2
		#contents_container
			#page1.page
				#three_container1
				ul#links
					li#skils
						a(href="#page2") SKILL
					li#creation
						a(href="#page3") CREATION
					li#profile
						a(href="#page4") PROFILE
					li#contacts
						a(href="#page5") CONTACTS

			#page2.page
				#skill_container
					#skillArea
						h2 SKILL
						#program.skillSection
							h3 Programming
							p
								| webやemacsパッケージ開発など
							ul.tools
								li HTML5
								li Pug
								li Stylus
								li Typescript
								li C++
								li Python
								li Go
						#electro.skillSection
							h3 Electronics
							p
								| マイコン制御や基板設計など
							ul.tools
								li Arduino
								li Raspberry pi
								li ESP
								li KiCAD
						#pa.skillSection
							h3 Stage Staff
							p
								| 音楽ライブや配信など
							ul.tools
								li Lighting
								li PA
								li SoundRecording
								li Streaming
					#three_container2

			#page3.page
				h2 CREATION

			#page4.page
				h2 PROFILE

				img(src="./img/icon.jpg")
				p 「SuetakeDai」magchoをハンドルネームとし、創作/開発活動を行う。
				p ペンギンと梨が好き、あと回転寿司も好き。
				p 東京電機大学に通う大学生、2022年春に卒業予定。

	script(src="./main.js")
