doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		title threejs
		link(rel="stylesheet", href="./main.css")
		script
			| let vh = window.innerHeight * 0.01;document.documentElement.style.setProperty('--vh', `${vh}px`);

	body
		.activity_page
			.container
				p
					img(src="./img/pf.png")

				h1 このサイトについて

				p
					| このサイト(https://magcho.com)は「SuetakeDai」が作成・運用するポートフォリオページです。
					| このサイトおよび周辺コンテンツすべてにおいて、これらを起因とするいかなる事象の責任を負いません。

				p
					| このサイトにはブラウザさポードが完全でない機能を利用しています。MacOS Mojave / Google Chrome 81の環境にて完全な動作を確認しています。
					| それ以外の環境では正しく表示されない可能性があります。

				h1 ライセンス表記

				include licenses.html
