//- fork from https://qiita.com/kyaido/items/0f29db05b4735f7ade57
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="./test.css")
body
  div.container
    - for(var i = 1; i <= 16; i++)
      .box(id=i)
  script(src="./test.js")
