/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200 700;
  src: url(https://fonts.gstatic.com/s/oswald/v31/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@keyframes skillAnimation{
  0%{
    background-position 100% 0%
  }
  100%{
    background-position 0% 100%
  }
}

@keyframes skillAnimationAfter{
  0%{
    color white
    background unset
  }
  100%{
    // -webkit-text-fill-color #777
    background unset
    color rgba(120,120,120,1) 
    // background-color #777
  }
  // 100%{
  //   // -webkit-text-fill-color #777
  //   // text-fill-color unset
  //   // background-clip unset
  //   // background unset
  // }
}





// minxin
skillActiveAnime(backgroundColor, textBasicColor, textHoverColor, duration)
  background linear-gradient(to top, textHoverColor, textHoverColor 50%, backgroundColor 50%)
  background-size 100% 200%
  background-position 100% 0%
  color rgba(0,0,0,0) //fallback
  // color #fff
  // text-fill-color transparent
  background-clip text
  // transition duration color
  // name startTime easing delay count direction fillMode playState
  animation:  skillAnimation .75s linear 0.5s 1 normal forwards,
              skillAnimationAfter .25s linear 1.5s 1 normal forwards
  // &:hover
    // color white