@import "./_common"
@import "./_activity"
// @import "woff2.css"


*
  box-sizing border-box
  margin 0
  padding 0

#controls
  position fixed
  z-index 2

#contents_container
  height 100vh //fallback
  height calc(var(--vh, 1vh) * 100);

  overflow-y scroll
  scroll-snap-type: y mandatory;
  .page
    height 100vh //fallback
    height calc(var(--vh, 1vh) * 100);
    width 100vw
    scroll-snap-align: start
    position relative

  #page1
    background-color #015b81

    #three_container1
      canvas
        margin 0
        background-color: #aad6e6
        &:forcus
          outline: none
    #links
      position absolute
      bottom 0px
      padding 1rem

      li
        padding 0
        margin-top 0.5rem
        font-size 6rem
        height 6rem
        line-height 6rem
        background-color black
        width fit-content
        font-family: 'Oswald'
        font-weight 200
        transition 0.5s font-weight
    
        &:hover
          font-weight 700
       
        a
          text-decoration none
          color white // fallback
          color transparent
          -webkit-text-stroke 3px white

  #page2,
  #page3,
  #page4
    
    *
      margin 0 auto
      display block
   
    // h2
    //   margin-bottom 3rem
    //   color black
    //   font-size 6rem
    //   height 6rem
    //   line-height 6rem
    //   width fit-content
    //   font-family 'Oswald'
    //   font-weight 400
    //   display block




  #page2,#page3,#page4
    background-color #fff172
    color white

    h2
      margin-bottom 4rem
      font-size 6rem
      height 6rem
      line-height 6rem
      width fit-content
      font-family 'Oswald'
      font-weight 400
      display block
      color: black
      &:after
        content ""
        display block
        width 5rem
        animation titleAnime 1s infinite
        border-bottom 2px solid black
        margin auto

    #skill_container
      height 100vh
      max-width 100rem

      #skillArea
        width 50vw
        height 100vh
        margin 0
        background-color #171a1e
        float left
        padding 1rem
        // &:hover
        //   color white
        //   text-fill-color white
        //   transition 0.5s color

        .skillSection
          margin-bottom 2rem
          color: #161a1e
          // &:hover
          //   color white
          //   text-fill-color white
          //   transition 0.5s color
          transition .5s text-fill-color
          &.active
            skillActiveAnime(#161a1e, #F00, white, 0.25s)
          &.playing
            -webkit-text-fill-color white



        h3
          margin 0 auto
          margin-bottom .5rem
          text-align center
          font-size 3rem
          font-family 'Oswald'
          font-weight 200


        p
          // margin 1rem
          text-align center
          margin-left 1rem
          margin-bottom 0

        .tools
          display flex
          flex-wrap wrap
          justify-content center
          margin-left 1rem
          li
            // background-color #524a00
            // color white
            margin-right .5rem
            margin-left 0


      #three_container2
        float left
        width calc(50vw - 1rem)
        canvas
          &:focus
            outline none



  #page2
    h2
      color white
      &:after
        border-color white
  #page3
    background-color #c0b9ff
    // height unset
    overflow-y scroll

    #activity_container
      max-width 60rem
      padding-bottom 100px
      display flex
      flex-wrap wrap
      .activity_item
        margin-bottom 3rem
         
        h3
          font-weight normal
          line-height 1em
          width fit-content
          margin 0 auto
        img
          width 100%
          
    #more_container
      height: 100px


  #page4
    background-color #9ee8a4
    color black
    
    #infomation
      width 100vw
      text-align center
      margin-top 1rem
    ul#contacts-info
      display flex
      justify-content center
      li
        margin 1rem
   
    
    footer
      position absolute
      bottom 0
      width 100vw
      height 3rem
      background-color #1a2937
      color grey
      text-align center
      span
        float left
        margin-left,
        margin-right
          1rem
        line-height 3rem
@import './_icon'










