doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		title threejs
		link(rel="stylesheet", href="../css/main.css")
		script
			| let vh = window.innerHeight * 0.01;document.documentElement.style.setProperty('--vh', `${vh}px`);

	body
		div.activity_page
			div.container
				include:markdown-it ../06_finantial.md

		include ../../_footer
